{# templates/books/count.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Book Count</title>
</head>
<body>
    <h1>Book Count</h1>
    <p>Number of books in the {{catName}} category: {{ result }}</p>
</body>
</html>
